In [4]:
import pandas as pd 
import json
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.impute import SimpleImputer

In [13]:
with open('appraisals_dataset.json', 'r') as file:
    data = pd.read_json(file)

print(data.shape)
display(data.head())

(88, 1)

                                          appraisals
0  {'orderID': '4762597', 'subject': {'address': ...
1  {'orderID': '4762739', 'subject': {'address': ...
2  {'orderID': '4763065', 'subject': {'address': ...
3  {'orderID': '4763086', 'subject': {'address': ...
4  {'orderID': '4763087', 'subject': {'address': ...

In [14]:
with open('appraisals_dataset.json', 'r') as file:
    data = pd.read_json(file)

df = pd.json_normalize(data['appraisals'].tolist())
df.to_csv('appraisals_dataset.csv', index=False)

print (df.shape)
print (df.columns.tolist())
display(df.head())

(88, 38)
['orderID', 'comps', 'properties', 'subject.address', 'subject.subject_city_province_zip', 'subject.effective_date', 'subject.municipality_district', 'subject.site_dimensions', 'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built', 'subject.structure_type', 'subject.roofing', 'subject.effective_age', 'subject.style', 'subject.construction', 'subject.remaining_economic_life', 'subject.windows', 'subject.basement', 'subject.exterior_finish', 'subject.basement_area', 'subject.foundation_walls', 'subject.flooring', 'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type', 'subject.water_heater', 'subject.cooling', 'subject.room_count', 'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area', 'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla', 'subject.subject_age', 'subject.num_baths', 'subject.condition']

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6,3,6,522,522,,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6,3,6,1060,440,,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9,4,9,1660,1340,,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5,2,5,,,,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6,3,6,1530,,,1530 SqFt,47+/-yrs,2:0,Average

In [16]:
with open ('appraisals_dataset.json', 'r') as file:
    data = pd.read_json(file)

print (type(data))
if isinstance(data, list):
    print ("Number of records:", len(data))
    if (len(data) > 0):
        print ("Sample record structure:")
        print (json.dumps(data[0], indent=2))
elif isinstance(data, dict):
    print ("Number of records: 1")
    print ("Sample record structure:")
    print ("keys in the data: ", data.keys())

<class 'pandas.core.frame.DataFrame'>

In [17]:
df = pd.DataFrame(data)
print (df.info())

print (df.head())

# Checking for missing values
print (df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   appraisals  88 non-null     object
dtypes: object(1)
memory usage: 832.0+ bytes
None
                                          appraisals
0  {'orderID': '4762597', 'subject': {'address': ...
1  {'orderID': '4762739', 'subject': {'address': ...
2  {'orderID': '4763065', 'subject': {'address': ...
3  {'orderID': '4763086', 'subject': {'address': ...
4  {'orderID': '4763087', 'subject': {'address': ...
appraisals    0
dtype: int64

In [21]:
normalized_df = pd.json_normalize(data['appraisals'])
print(normalized_df.shape)
print(normalized_df.columns.tolist())
display(normalized_df.head())
print (normalized_df.info())
print (normalized_df.describe())

numerical_columns = normalized_df.select_dtypes(include=['object']).columns
for column in numerical_columns:
    try:
        numerical_columns[column] = pd.to_numeric(normalized_df[column], errors='ignore')
    except:
        pass

missing_values = normalized_df.isnull().sum().sum()
print(f"Total missing values: {missing_values}")

# Printing the final dataframe
print(normalized_df.info())

# Printing the first 5 rows of the final dataframe
print (normalized_df.head())

(88, 38)
['orderID', 'comps', 'properties', 'subject.address', 'subject.subject_city_province_zip', 'subject.effective_date', 'subject.municipality_district', 'subject.site_dimensions', 'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built', 'subject.structure_type', 'subject.roofing', 'subject.effective_age', 'subject.style', 'subject.construction', 'subject.remaining_economic_life', 'subject.windows', 'subject.basement', 'subject.exterior_finish', 'subject.basement_area', 'subject.foundation_walls', 'subject.flooring', 'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type', 'subject.water_heater', 'subject.cooling', 'subject.room_count', 'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area', 'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla', 'subject.subject_age', 'subject.num_baths', 'subject.condition']

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
0,4762597,"[{'distance_to_subject': '0.15 KM', 'prop_type...","[{'id': 367, 'address': '463 Conservatory Dr',...",142-950 Oakview Ave Kingston ON K7M 6W8,"""Twin Oak Meadows""",Apr/11/2025,Kingston,Condo Common Property,n/a,SqFt,...,6,3,6,522,522,,1044,49,1:1,Average
1,4762739,"[{'distance_to_subject': '3.73 KM', 'prop_type...","[{'id': 297301, 'address': '638 Myers Point Ro...",7180 207 HWY Halifax NS B0J2L0,"West Chezzetcook, NS B0J2L0",Apr/17/2025,Halifax Regional Municipality - West Chezzetcook,See Schedule A and or Plot Map,72745+/-SqFt,SqFt,...,6,3,6,1060,440,,1500 SqFt,14+/-yrs,2:1,Average
2,4763065,"[{'distance_to_subject': '0.31 KM', 'prop_type...","[{'id': 116134, 'address': '246 Waterbrook Lan...",11 PAUL AVE Ayr ON N0B1E0,Ayr ON N0B1E0,May/01/2025,"Township of North Dumfries, Region of Waterloo",131' x 154',20174 SqFt,SqFt,...,9,4,9,1660,1340,,3000 SqFt,42,2:1,Average
3,4763086,"[{'distance_to_subject': '0.78 KM', 'prop_type...","[{'id': 1849, 'address': '501 CLOTHIER Street ...",102 Stonewalk Dr Kemptville ON K0G 1J0,Kemptville ON K0G 1J0,Apr/15/2025,"North Grenville, Ontario",176.38 F x Irregular,1.25 Acres,Acres,...,5,2,5,,,,1283 SqFt,2012 +/-,3:0,Good
4,4763087,"[{'distance_to_subject': '0.00 KM', 'prop_type...","[{'id': 293769, 'address': '3 Apollo Court', '...",407 105 Dunbrack St Halifax NS B3M3G7,Halifax NS B3M3G7,Apr/17/2025,Halifax Regional Municipality - Halifax,CONDO - N/A,N/A,N/A,...,6,3,6,1530,,,1530 SqFt,47+/-yrs,2:0,Average

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     object
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                88 non-null     object
 9   subject.units_sq_ft                87 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   88 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              87 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    87 non-null     object
 28  subject.room_count                 87 non-null     object
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     object
 31  subject.main_lvl_area              87 non-null     object
 32  subject.second_lvl_area            87 non-null     object
 33  subject.third_lvl_area             87 non-null     object
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: object(38)
memory usage: 26.2+ KB
None
        orderID                                              comps  \
count        88                                                 88
unique       88                                                 87
top     4762597  [{'distance_to_subject': '0.20 KM', 'prop_type...
freq          1                                                  2

                                               properties  \
count                                                  88
unique                                                 86
top     [{'id': 77720, 'address': 'Unit 403 - 315 Rege...
freq                                                    3

                                subject.address  \
count                                        88
unique                                       88
top     142-950 Oakview Ave Kingston ON K7M 6W8
freq                                          1

       subject.subject_city_province_zip subject.effective_date  \
count                                 88                     88
unique                                84                     24
top                   Kingston ON K7L0G8            Apr/30/2025
freq                                   3                      8

       subject.municipality_district         subject.site_dimensions  \
count                             87                              88
unique                            74                              65
top                         Kingston  See Schedule A and or Plot Map
freq                               7                              13

       subject.lot_size_sf subject.units_sq_ft  ... subject.room_count  \
count                   88                  87  ...                 87
unique                  77                   4  ...                  9
top                    n/a                SqFt  ...                  6
freq                     5                  57  ...                 24

       subject.num_beds subject.room_total subject.main_lvl_area  \
count                87                 87                    87
unique                9                  9                    65
top                   3                  6
freq                 43                 24                    20

       subject.second_lvl_area subject.third_lvl_area subject.gla  \
count                       87                     87          88
unique                      44                      2          87
top                                                     1109 SqFt
freq                        44                     86           2

       subject.subject_age subject.num_baths subject.condition
count                   88                87                88
unique                  68                17                 4
top                    New               2:1           Average
freq                     5                15                48

[4 rows x 38 columns]
Total missing values: 25
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   orderID                            88 non-null     object
 1   comps                              88 non-null     object
 2   properties                         88 non-null     object
 3   subject.address                    88 non-null     object
 4   subject.subject_city_province_zip  88 non-null     object
 5   subject.effective_date             88 non-null     object
 6   subject.municipality_district      87 non-null     object
 7   subject.site_dimensions            88 non-null     object
 8   subject.lot_size_sf                88 non-null     object
 9   subject.units_sq_ft                87 non-null     object
 10  subject.year_built                 87 non-null     object
 11  subject.structure_type             87 non-null     object
 12  subject.roofing                    87 non-null     object
 13  subject.effective_age              87 non-null     object
 14  subject.style                      88 non-null     object
 15  subject.construction               87 non-null     object
 16  subject.remaining_economic_life    87 non-null     object
 17  subject.windows                    87 non-null     object
 18  subject.basement                   88 non-null     object
 19  subject.exterior_finish            87 non-null     object
 20  subject.basement_area              87 non-null     object
 21  subject.foundation_walls           87 non-null     object
 22  subject.flooring                   87 non-null     object
 23  subject.plumbing_lines             87 non-null     object
 24  subject.heating                    87 non-null     object
 25  subject.fuel_type                  87 non-null     object
 26  subject.water_heater               87 non-null     object
 27  subject.cooling                    87 non-null     object
 28  subject.room_count                 87 non-null     object
 29  subject.num_beds                   87 non-null     object
 30  subject.room_total                 87 non-null     object
 31  subject.main_lvl_area              87 non-null     object
 32  subject.second_lvl_area            87 non-null     object
 33  subject.third_lvl_area             87 non-null     object
 34  subject.gla                        88 non-null     object
 35  subject.subject_age                88 non-null     object
 36  subject.num_baths                  87 non-null     object
 37  subject.condition                  88 non-null     object
dtypes: object(38)
memory usage: 26.2+ KB
None
   orderID                                              comps  \
0  4762597  [{'distance_to_subject': '0.15 KM', 'prop_type...
1  4762739  [{'distance_to_subject': '3.73 KM', 'prop_type...
2  4763065  [{'distance_to_subject': '0.31 KM', 'prop_type...
3  4763086  [{'distance_to_subject': '0.78 KM', 'prop_type...
4  4763087  [{'distance_to_subject': '0.00 KM', 'prop_type...

                                          properties  \
0  [{'id': 367, 'address': '463 Conservatory Dr',...
1  [{'id': 297301, 'address': '638 Myers Point Ro...
2  [{'id': 116134, 'address': '246 Waterbrook Lan...
3  [{'id': 1849, 'address': '501 CLOTHIER Street ...
4  [{'id': 293769, 'address': '3 Apollo Court', '...

                           subject.address subject.subject_city_province_zip  \
0  142-950 Oakview Ave Kingston ON K7M 6W8                "Twin Oak Meadows"
1           7180 207 HWY Halifax NS B0J2L0       West Chezzetcook, NS B0J2L0
2                11 PAUL AVE Ayr ON N0B1E0                     Ayr ON N0B1E0
3   102 Stonewalk Dr Kemptville ON K0G 1J0             Kemptville ON K0G 1J0
4    407 105 Dunbrack St Halifax NS B3M3G7                 Halifax NS B3M3G7

  subject.effective_date                     subject.municipality_district  \
0            Apr/11/2025                                          Kingston
1            Apr/17/2025  Halifax Regional Municipality - West Chezzetcook
2            May/01/2025    Township of North Dumfries, Region of Waterloo
3            Apr/15/2025                          North Grenville, Ontario
4            Apr/17/2025           Halifax Regional Municipality - Halifax

          subject.site_dimensions subject.lot_size_sf subject.units_sq_ft  \
0           Condo Common Property                 n/a                SqFt
1  See Schedule A and or Plot Map        72745+/-SqFt                SqFt
2                     131' x 154'          20174 SqFt                SqFt
3            176.38 F x Irregular          1.25 Acres               Acres
4                     CONDO - N/A                 N/A                 N/A

   ... subject.room_count subject.num_beds subject.room_total  \
0  ...                  6                3                  6
1  ...                  6                3                  6
2  ...                  9                4                  9
3  ...                  5                2                  5
4  ...                  6                3                  6

  subject.main_lvl_area subject.second_lvl_area subject.third_lvl_area  \
0                   522                     522
1                  1060                     440
2                  1660                    1340
3
4                  1530

  subject.gla subject.subject_age subject.num_baths subject.condition
0        1044                  49               1:1           Average
1   1500 SqFt            14+/-yrs               2:1           Average
2   3000 SqFt                  42               2:1           Average
3   1283 SqFt            2012 +/-               3:0              Good
4   1530 SqFt            47+/-yrs               2:0           Average

[5 rows x 38 columns]

/var/folders/23/7k92fgj56hv0b597j5zpyszm0000gn/T/ipykernel_2597/1063071163.py:11: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  numerical_columns[column] = pd.to_numeric(normalized_df[column], errors='ignore')

In [22]:
normalized_df.describe()

,orderID,comps,properties,subject.address,subject.subject_city_province_zip,subject.effective_date,subject.municipality_district,subject.site_dimensions,subject.lot_size_sf,subject.units_sq_ft,...,subject.room_count,subject.num_beds,subject.room_total,subject.main_lvl_area,subject.second_lvl_area,subject.third_lvl_area,subject.gla,subject.subject_age,subject.num_baths,subject.condition
count,88,88,88,88,88,88,87,88,88,87,...,87,87,87,87,87,87,88,88,87,88
unique,88,87,86,88,84,24,74,65,77,4,...,9,9,9,65,44,2,87,68,17,4
top,4762597,"[{'distance_to_subject': '0.20 KM', 'prop_type...","[{'id': 77720, 'address': 'Unit 403 - 315 Rege...",142-950 Oakview Ave Kingston ON K7M 6W8,Kingston ON K7L0G8,Apr/30/2025,Kingston,See Schedule A and or Plot Map,n/a,SqFt,...,6,3,6,,,,1109 SqFt,New,2:1,Average
freq,1,2,3,1,3,8,7,13,5,57,...,24,43,24,20,44,86,2,5,15,48

In [23]:
normalized_df.columns

Index(['orderID', 'comps', 'properties', 'subject.address',
       'subject.subject_city_province_zip', 'subject.effective_date',
       'subject.municipality_district', 'subject.site_dimensions',
       'subject.lot_size_sf', 'subject.units_sq_ft', 'subject.year_built',
       'subject.structure_type', 'subject.roofing', 'subject.effective_age',
       'subject.style', 'subject.construction',
       'subject.remaining_economic_life', 'subject.windows',
       'subject.basement', 'subject.exterior_finish', 'subject.basement_area',
       'subject.foundation_walls', 'subject.flooring',
       'subject.plumbing_lines', 'subject.heating', 'subject.fuel_type',
       'subject.water_heater', 'subject.cooling', 'subject.room_count',
       'subject.num_beds', 'subject.room_total', 'subject.main_lvl_area',
       'subject.second_lvl_area', 'subject.third_lvl_area', 'subject.gla',
       'subject.subject_age', 'subject.num_baths', 'subject.condition'],
      dtype='object')

In [ ]:
# Function to parse 'subject.gla' column
def parse_subject_gla(df):
    df['subject.gla'] = pd.to_numeric(df['subject.gla'], errors='coerce')
    print(f"Parsed 'subject.gla':\n{df['subject.gla'].describe()}")
    return df

# Function to parse 'subject.room_total' column
def parse_subject_room_total(df):
    df['subject.room_total'] = pd.to_numeric(df['subject.room_total'], errors='coerce')
    print(f"Parsed 'subject.room_total':\n{df['subject.room_total'].describe()}")
    return df

# Function to parse 'subject.age' column
def parse_subject_age(df):
    df['subject.age'] = pd.to_numeric(df['subject.age'], errors='coerce')
    print(f"Parsed 'subject.age':\n{df['subject.age'].describe()}")
    return df

# Function to parse 'subject.structure_type' column
def parse_subject_structure_type(df):
    df['subject.structure_type'] = df['subject.structure_type'].astype(str).str.strip()
    print(f"Unique values in 'subject.structure_type':\n{df['subject.structure_type'].unique()}")
    return df

In [ ]:
def preprocess_dataframe(df):
    # Parse specific columns using the helper functions
    df = parse_subject_gla(df)
    df = parse_subject_room_total(df)
    df = parse_subject_age(df)
    df = parse_subject_structure_type(df)

    # Handle missing values
    imputer = SimpleImputer(strategy='mean')
    numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
    df[numerical_columns] = imputer.fit_transform(df[numerical_columns])

    # Standardize numerical columns
    scaler = StandardScaler()
    df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

    # Encode categorical columns
    categorical_columns = df.select_dtypes(include=['object']).columns
    df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

    print("Preprocessing complete. Dataframe is ready for analysis.")
    return df

# Preprocess the normalized dataframe
processed_df = preprocess_dataframe(normalized_df)
print(processed_df.info())

Parsed 'subject.gla':
count       1.0
mean     1044.0
std         NaN
min      1044.0
25%      1044.0
50%      1044.0
75%      1044.0
max      1044.0
Name: subject.gla, dtype: float64
Parsed 'subject.room_total':
count    87.000000
mean      7.172414
std       1.989548
min       4.000000
25%       6.000000
50%       7.000000
75%       8.000000
max      15.000000
Name: subject.room_total, dtype: float64

KeyError: 'subject.age'